body{
    margin-left: 25%;
    margin-right:50%
}
form{
    margin-left:100px;
}
#log{
    margin-left:55px;
}
#id1{
    font-size: 10px;
    color:red;
}

#id2{
    font-size: 10px;
    color:red;
}