<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" routerLink="#">TASK MANAGER</a>

    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/addtask">ADD TASK </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/viewalltask">VIEW ALL TASK</a>
            </li>

        </ul>

    </div>
</nav>