body{
    border:1px solid black;
    width:50%;
    margin-left:25%;
    padding:20px;
}
header{
    margin-left:5%;
}
form{
    margin-left:5%;
    
}

#d{
    margin-left:160px;
}
#d1{
    margin-left:160px;
}
#a{
    margin-left:195px;
}

#b{
    margin-left:75px;
}
#c{
    margin-left:102px;
}
#d{
    margin-left:35px;
}
#e{
    margin-left:113px;
}
#f{
    margin-left:84px;
}
#g{
    margin-left:78px;
}
#h{
    margin-left:36px;
}
#i{
    margin-left:150px;
}
#j
{
    margin-left:63px;
}
#k{
    margin-left:40%;
}
#l{
    width:30%;
}
#m{
    margin-left:10%;
    width:30%;
}
#n{
    width:30%;
}
button{
    margin-left:40%;
}