<p>binding works!</p>
<!-- //<h3>data binding in angular</h3> -->
<h3>{{paageTitle}}</h3>      <!--interpolation i.e from component to template/view-->
<img src={{img}} style="height:200px; width:200px">

<button disabled={{buttonStatus}}>Click</button>

<h1>property binding</h1>
<img [src]= "img">                   <!--property binding.....attributes are enclosed in square brackets-->

<button [disabled]="buttonStatus">Click</button>

<button (click)="changeTitle()">CHANGE TITLE</button>


<br>
<br>

<!--two way data binding33333333333-->
<input type="text" [(ngModel)]="username"/>
<h4>Welcome {{username}}</h4>