form{
    background-color:palevioletred;
    text-align: center;
    width: 500px;
    height: 300px;
    border-radius: 20px;
    font-size: 20px;
    
    
    
}

fieldset{
    background-color:palevioletred;
    width:50%;
   /* padding-right: 40px;*/
    margin:20px;
    margin-right:60px;
    margin-top: 15%;
    border-radius:30px;
}

h1{
    text-align: center
}


body{
    margin-left: 35%;
  
}

#name{
    border-radius: 8px;
}
#password
{
    border-radius:8px;
}
#email{
    border-radius:8px;
}
#telephone{
    border-radius:8px;
}
#submitt
{
    border-radius:10px;
}