body{
    background:grey;

}

div{
    background: red;
    height=10000px;
    width=10000000px;
    
}
span{
    background:green;
    height=200px;
    width=30%;
    display:in-line block;
    
}