table,th,td{
    /* border: solid 1px black;
    border-collapse: collapse; */
    border-radius: 15px;
    padding:10px;
    cursor: pointer;

}

th{
    background-color:mediumpurple;
    color:white;
}

tr:nth-child(even){
       background-color: darkcyan;
       
}
tr:nth-child(odd){
    background-color: turquoise;
}
table{
    width:100%;
    text-align: center;
    font-family:cursive;
}
td:hover{
    background-color: rebeccapurple;
    color:white;
}