<nav class="navbar navbar-expand-sm navbar-dark bg-info">


    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/add-task">Add Task </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/edit-task">Edit Task</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" routerLink="/show-all">Show All</a>
            </li>

        </ul>

    </div>
</nav>