<h1 [class]="textClasses">{{name}}</h1>
 <h1 [class.bg-danger]="redColor " [class.bg-success]="!redColor">{{5+5}}</h1>    <!--  class binding -->
<img [src]="imgURL" alt="">
<p [style.background]="paragraphStyle? 'red': 'blue'" [style.padding]="padding">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Sit aliquid voluptas a tempore minus voluptatem, corrupti saepe architecto enim sapiente.</p>
    

    <table class=" table table-bordered">
        <thead>
            <tr>
                <th [attr.colspan]="columnSpan">Students</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Palak</td>
            </tr>
            <tr>
                    <td>2</td>
                    <td>Jenny</td>
                </tr>
                <tr>
                        <td>3</td>
                        <td>Simran</td>
                    </tr>
                    <tr>
                            <td>4</td>
                            <td>Shweta</td>
                        </tr>
        </tbody>
    </table>